@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.swiper-slide-active {
  opacity: 1;
}

/* 페이드 효과 */
.swiper-fade .swiper-slide {
  transition: opacity 0.5s ease;
}

.swiper-slide-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.swiper-slide-active .swiper-slide-content {
  opacity: 1;
}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
}

.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
}

/* globals.css 등 전체에 적용되는 CSS 파일 */

/* 1. 페이드 인 + 약간의 위아래 이동(옵션) */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. 공통 애니메이션 클래스 */
.fade-in {
  animation: fadeIn 0.8s forwards ease-in-out;
  /* 기본적으로 0초 후에 시작 (요소별로 inline-style에서 animation-delay 조절) */
  opacity: 0;
}
